# ETL da camada bronze para camada silver

Este notebook realiza o ETL dos dados da camada bronze para a camada silver. Ou seja: ele abre o dataset e o salva num dataframe, realiza a transformação dos dados e os carrega num arquivo `.csv` e no banco de dados.

### Estratégia de Leitura Otimizada (Chunking)

Para contornar as limitações de memória do ambiente WSL ao ler o arquivo `MICRODADOS_ENEM_2021.csv` (>1GB), adotamos a estratégia de leitura em lotes (*chunks*).
Diferente do padrão do Pandas que tenta carregar todo o arquivo na RAM, este método cria um iterador que processa o arquivo em fragmentos sequenciais, similar ao comportamento "lazy" do Apache Spark.

**Parâmetros Críticos:**
* `chunksize=100000`: Limita o consumo de RAM processando apenas 100 mil linhas por vez.
* `encoding='ISO-8859-1'`: Corrige erros de decodificação de caracteres que contem dentro do arquivo `MICRODADOS_ENEM_2021.csv` que e um "erro" bem comuns em dados  usado no Brasil.
* `sep=';'`: Define o ponto e vírgula como separador correto, evitando que o dataset seja lido em uma única coluna e assim trazendo como esperamos.

In [ ]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)

data_layer_filepath = '../raw/'

chunk_size = 100000

chunks = pd.read_csv(
    data_layer_filepath + 'data_raw/MICRODADOS_ENEM_2021.csv', 
    low_memory=False, 
    encoding='ISO-8859-1', 
    sep=';', 
    chunksize=chunk_size
)

print("Leitura em chunks iniciada...")

contagem_total_linhas = 0

for df_chunk in chunks:
    print(df_chunk.head())
    
    contagem_total_linhas += len(df_chunk)

print(f"Processamento finalizado.")

Leitura em chunks iniciada...
   NU_INSCRICAO  NU_ANO  TP_FAIXA_ETARIA TP_SEXO  TP_ESTADO_CIVIL  \
0  210053865474    2021                5       F                1
1  210052384164    2021               12       M                1
2  210052589243    2021               13       F                3
3  210052128335    2021                3       M                1
4  210051353021    2021                2       F                1

   TP_COR_RACA  TP_NACIONALIDADE  TP_ST_CONCLUSAO  TP_ANO_CONCLUIU  TP_ESCOLA  \
0            1                 1                1                3          1
1            1                 1                1               11          1
2            1                 1                1               15          1
3            3                 1                2                0          2
4            3                 1                2                0          2

   ...  Q016  Q017  Q018 Q019  Q020 Q021  Q022  Q023  Q024  Q025
0  ...     A     A     A    B     A    A     B     A     B     B
1  ...     A     A     A    B     A    A     C     A     A     A
2  ...     B     A     A    B     A    A     C     B     B     B
3  ...     A     A     A    B     A    A     B     A     B     B
4  ...     B     A     A    B     A    B     E     A     B     B

[5 rows x 76 columns]
        NU_INSCRICAO  NU_ANO  TP_FAIXA_ETARIA TP_SEXO  TP_ESTADO_CIVIL  \
100000  210054261690    2021                1       F                1
100001  210053033828    2021                3       M                1
100002  210051657424    2021               10       F                1
100003  210051155681    2021                7       F                2
100004  210052330685    2021                2       F                1

        TP_COR_RACA  TP_NACIONALIDADE  TP_ST_CONCLUSAO  TP_ANO_CONCLUIU  \
100000            1                 1                2                0
100001            1                 1                1                1
100002            1                 1                1                0
100003            1                 1                1                4
100004            1                 1                2                0

        TP_ESCOLA  ...  Q016  Q017  Q018 Q019  Q020 Q021  Q022  Q023  Q024  \
100000          2  ...     B     A     A    C     A    A     D     A     B
100001          1  ...     B     A     A    C     B    A     C     A     B
100002          1  ...     A     A     A    A     A    A     B     A     A
100003          1  ...     A     A     A    B     A    A     C     A     B
100004          2  ...     B     A     A    C     A    A     E     B     E

        Q025
100000     B
100001     B
100002     A
100003     B
100004     B

[5 rows x 76 columns]
        NU_INSCRICAO  NU_ANO  TP_FAIXA_ETARIA TP_SEXO  TP_ESTADO_CIVIL  \
200000  210054131924    2021               10       M                1
200001  210054329038    2021                3       M                1
200002  210053061306    2021                3       F                1
200003  210051577569    2021                5       M                1
200004  210053560585    2021                3       F                1

        TP_COR_RACA  TP_NACIONALIDADE  TP_ST_CONCLUSAO  TP_ANO_CONCLUIU  \
200000            3                 1                1                0
200001            1                 1                2                0
200002            1                 1                2                0
200003            3                 1                1                2
200004            3                 1                2                0

        TP_ESCOLA  ...  Q016  Q017  Q018 Q019  Q020 Q021  Q022  Q023  Q024  \
200000          1  ...     A     A     A    B     A    B     D     A     A
200001          2  ...     A     A     A    C     A    B     E     A     B
200002          2  ...     B     A     A    B     A    A     C     A     A
200003          1  ...     B     A     A    B     B    B     C     A     A
200004          2  ...     A     A     A    B     A    A     E     A     A

        Q025
200000     B
200001     B
200002     B
200003     B
200004     B

[5 rows x 76 columns]
        NU_INSCRICAO  NU_ANO  TP_FAIXA_ETARIA TP_SEXO  TP_ESTADO_CIVIL  \
300000  210053047520    2021                3       F                1
300001  210052760150    2021                3       M                0
300002  210051270361    2021                5       M                1
300003  210051324185    2021                9       F                1
300004  210051922689    2021                2       F                1

        TP_COR_RACA  TP_NACIONALIDADE  TP_ST_CONCLUSAO  TP_ANO_CONCLUIU  \
300000            3                 1                2                0
300001            0                 1                2                0
300002            1                 1                1                2
300003            2                 1                1                0
300004            1                 1                2                0

        TP_ESCOLA  ...  Q016  Q017  Q018 Q019  Q020 Q021  Q022  Q023  Q024  \
300000          2  ...     A     A     A    B     A    A     C     A     A
300001          2  ...     A     A     A    B     A    A     B     A     A
300002          1  ...     A     A     A    B     A    A     B     A     B
300003          1  ...     A     A     A    B     A    A     C     A     A
300004          3  ...     B     B     B    D     B    B     E     B     E

        Q025
300000     B
300001     A
300002     B
300003     A
300004     B

[5 rows x 76 columns]
        NU_INSCRICAO  NU_ANO  TP_FAIXA_ETARIA TP_SEXO  TP_ESTADO_CIVIL  \
400000  210053399364    2021                4       F                1
400001  210051871940    2021                3       F                1
400002  210053288913    2021                3       F                0
400003  210052333353    2021                6       F                2
400004  210053070255    2021                2       M                1

        TP_COR_RACA  TP_NACIONALIDADE  TP_ST_CONCLUSAO  TP_ANO_CONCLUIU  \
400000            3                 1                2                0
400001            3                 1                2                0
400002            3                 1                2                0
400003            4                 1                1                0
400004            1                 1                2                0

        TP_ESCOLA  ...  Q016  Q017  Q018 Q019  Q020 Q021  Q022  Q023  Q024  \
400000          2  ...     B     A     B    B     A    A     D     A     A
400001          2  ...     A     A     B    B     A    A     C     A     B
400002          3  ...     B     A     A    C     B    A     D     A     C
400003          1  ...     A     A     A    B     A    A     A     A     A
400004          3  ...     B     B     B    E     A    B     E     B     E

        Q025
400000     B
400001     B
400002     B
400003     B
400004     B

[5 rows x 76 columns]
        NU_INSCRICAO  NU_ANO  TP_FAIXA_ETARIA TP_SEXO  TP_ESTADO_CIVIL  \
500000  210052392843    2021                3       F                1
500001  210051449008    2021                2       F                1
500002  210052828678    2021                4       F                1
500003  210052104028    2021                4       M                1
500004  210052945795    2021                2       M                1

        TP_COR_RACA  TP_NACIONALIDADE  TP_ST_CONCLUSAO  TP_ANO_CONCLUIU  \
500000            1                 1                2                0
500001            3                 1                2                0
500002            3                 1                1                2
500003            3                 1                2                0
500004            1                 1                3                0

        TP_ESCOLA  ...  Q016  Q017  Q018 Q019  Q020 Q021  Q022  Q023  Q024  \
500000          2  ...     B     A     B    B     A    A     E     B     A
500001          2  ...     A     A     A    B     A    A     D     A     A
500002          1  ...     A     A     A    B     B    A     B     A     A
500003          2  ...     A     A     A    B     A    A     C     A     A
500004          1  ...     B     A     A    C     A    A     D     A     B

        Q025
500000     B
500001     B
500002     B
500003     A
500004     B

[5 rows x 76 columns]
        NU_INSCRICAO  NU_ANO  TP_FAIXA_ETARIA TP_SEXO  TP_ESTADO_CIVIL  \
600000  210054034493    2021               17       M                1
600001  210053823679    2021                4       M                1
600002  210052205595    2021                3       M                1
600003  210053811680    2021                3       F                1
600004  210054273826    2021                2       M                1

        TP_COR_RACA  TP_NACIONALIDADE  TP_ST_CONCLUSAO  TP_ANO_CONCLUIU  \
600000            1                 1                1                0
600001            1                 1                1                2
600002            1                 1                2                0
600003            3                 1                1                1
600004            3                 1                2                0

        TP_ESCOLA  ...  Q016  Q017  Q018 Q019  Q020 Q021  Q022  Q023  Q024  \
600000          1  ...     B     A     B    B     A    B     C     A     B
600001          1  ...     B     A     B    B     A    A     C     A     A
600002          3  ...     B     A     B    B     A    A     D     B     B
600003          1  ...     A     A     B    B     A    A     C     A     A
600004          2  ...     A     A     A    A     A    A     C     A     A

        Q025
600000     B
600001     B
600002     B
600003     B
600004     B

[5 rows x 76 columns]
        NU_INSCRICAO  NU_ANO  TP_FAIXA_ETARIA TP_SEXO  TP_ESTADO_CIVIL  \
700000  210051681931    2021                4       F                1
700001  210052429067    2021                3       F                1
700002  210053758015    2021                2       F                1
700003  210053144176    2021               13       F                1
700004  210051041053    2021                4       F                1

        TP_COR_RACA  TP_NACIONALIDADE  TP_ST_CONCLUSAO  TP_ANO_CONCLUIU  \
700000            2                 1                1                1
700001            1                 1                2                0
700002            1                 1                2                0
700003            2                 1                1                0
700004            4                 1                1                1

        TP_ESCOLA  ...  Q016  Q017  Q018 Q019  Q020 Q021  Q022  Q023  Q024  \
700000          1  ...     A     A     A    B     A    B     D     A     A
700001          2  ...     A     A     A    B     B    B     D     A     B
700002          2  ...     B     A     A    C     A    A     E     B     A
700003          1  ...     A     A     A    B     A    A     C     A     A
700004          1  ...     B     A     A    B     B    A     D     A     A

        Q025
700000     B
700001     B
700002     B
700003     A
700004     B

[5 rows x 76 columns]
        NU_INSCRICAO  NU_ANO  TP_FAIXA_ETARIA TP_SEXO  TP_ESTADO_CIVIL  \
800000  210051796523    2021                6       F                1
800001  210052946083    2021                1       M                1
800002  210053740921    2021                5       F                1
800003  210053558228    2021                2       F                1
800004  210051793126    2021                5       M                1

        TP_COR_RACA  TP_NACIONALIDADE  TP_ST_CONCLUSAO  TP_ANO_CONCLUIU  \
800000            3                 1                1                3
800001            2                 1                3                0
800002            1                 1                1                3
800003            1                 1                2                0
800004            3                 1                1                2

        TP_ESCOLA  ...  Q016  Q017  Q018 Q019  Q020 Q021  Q022  Q023  Q024  \
800000          1  ...     A     A     A    B     A    A     C     A     A
800001          1  ...     B     A     A    B     B    B     C     A     B
800002          1  ...     A     A     A    C     A    A     D     A     B
800003          2  ...     A     A     A    A     A    A     C     A     A
800004          1  ...     B     A     A    C     A    A     E     B     A

        Q025
800000     B
800001     B
800002     B
800003     A
800004     B

[5 rows x 76 columns]
        NU_INSCRICAO  NU_ANO  TP_FAIXA_ETARIA TP_SEXO  TP_ESTADO_CIVIL  \
900000  210052069653    2021                6       F                1
900001  210052310132    2021                2       F                1
900002  210051211865    2021               10       F                1
900003  210053863709    2021                3       M                1
900004  210053115813    2021                4       F                1

        TP_COR_RACA  TP_NACIONALIDADE  TP_ST_CONCLUSAO  TP_ANO_CONCLUIU  \
900000            3                 1                1                4
900001            5                 2                3                0
900002            3                 1                1                7
900003            1                 1                1                1
900004            1                 1                1                1

        TP_ESCOLA  ...  Q016  Q017  Q018 Q019  Q020 Q021  Q022  Q023  Q024  \
900000          1  ...     A     A     A    A     A    A     C     A     B
900001          1  ...     A     A     A    B     A    A     C     A     A
900002          1  ...     B     A     A    B     A    A     D     A     A
900003          1  ...     A     A     A    B     B    A     B     A     A
900004          1  ...     B     A     B    D     A    A     E     A     A

        Q025
900000     B
900001     B
900002     B
900003     B
900004     B

[5 rows x 76 columns]
         NU_INSCRICAO  NU_ANO  TP_FAIXA_ETARIA TP_SEXO  TP_ESTADO_CIVIL  \
1000000  210052830075    2021                2       F                1
1000001  210054449189    2021               14       F                1
1000002  210051874309    2021               11       F                2
1000003  210051545357    2021                2       F                1
1000004  210051901038    2021                6       F                0

         TP_COR_RACA  TP_NACIONALIDADE  TP_ST_CONCLUSAO  TP_ANO_CONCLUIU  \
1000000            3                 1                2                0
1000001            2                 1                1               15
1000002            1                 1                2                0
1000003            1                 1                2                0
1000004            1                 1                1                3

         TP_ESCOLA  ...  Q016  Q017  Q018 Q019  Q020 Q021  Q022  Q023  Q024  \
1000000          2  ...     A     A     A    B     A    A     C     A     A
1000001          1  ...     B     A     B    D     A    B     E     B     C
1000002          2  ...     A     A     A    B     A    A     C     A     A
1000003          2  ...     A     A     A    B     A    A     C     A     B
1000004          1  ...     B     A     A    B     A    A     D     A     B

         Q025
1000000     B
1000001     B
1000002     B
1000003     B
1000004     B

[5 rows x 76 columns]
         NU_INSCRICAO  NU_ANO  TP_FAIXA_ETARIA TP_SEXO  TP_ESTADO_CIVIL  \
1100000  210054304802    2021                2       M                1
1100001  210052481778    2021               16       F                2
1100002  210051550604    2021                3       F                1
1100003  210053233174    2021                5       F                1
1100004  210053394503    2021                3       F                1

         TP_COR_RACA  TP_NACIONALIDADE  TP_ST_CONCLUSAO  TP_ANO_CONCLUIU  \
1100000            0                 1                2                0
1100001            1                 1                1               15
1100002            1                 1                1                1
1100003            3                 1                1                2
1100004            1                 1                2                0

         TP_ESCOLA  ...  Q016  Q017  Q018 Q019  Q020 Q021  Q022  Q023  Q024  \
1100000          2  ...     A     A     A    B     A    A     C     A     A
1100001          1  ...     B     A     B    C     A    B     D     B     C
1100002          1  ...     B     A     A    B     A    A     B     A     A
1100003          1  ...     A     A     A    B     A    A     B     A     A
1100004          2  ...     A     A     A    B     A    A     C     A     A

         Q025
1100000     B
1100001     B
1100002     B
1100003     A
1100004     B

[5 rows x 76 columns]
         NU_INSCRICAO  NU_ANO  TP_FAIXA_ETARIA TP_SEXO  TP_ESTADO_CIVIL  \
1200000  210053115088    2021               11       F                0
1200001  210053391802    2021                3       F                1
1200002  210052005367    2021               10       M                0
1200003  210052756162    2021                3       F                1
1200004  210054300557    2021                2       M                1

         TP_COR_RACA  TP_NACIONALIDADE  TP_ST_CONCLUSAO  TP_ANO_CONCLUIU  \
1200000            2                 1                1                7
1200001            2                 1                1                1
1200002            3                 1                1                8
1200003            1                 1                1                1
1200004            1                 1                2                0

         TP_ESCOLA  ...  Q016  Q017  Q018 Q019  Q020 Q021  Q022  Q023  Q024  \
1200000          1  ...     B     A     B    B     B    A     C     A     A
1200001          1  ...     A     A     A    B     A    A     C     A     A
1200002          1  ...     A     A     A    B     A    A     B     A     A
1200003          1  ...     B     A     A    B     A    A     D     A     B
1200004          2  ...     B     A     B    B     B    B     E     A     B

         Q025
1200000     A
1200001     B
1200002     B
1200003     B
1200004     B

[5 rows x 76 columns]
         NU_INSCRICAO  NU_ANO  TP_FAIXA_ETARIA TP_SEXO  TP_ESTADO_CIVIL  \
1300000  210051048317    2021                5       F                1
1300001  210051039039    2021               12       M                1
1300002  210053832007    2021                1       F                1
1300003  210053739219    2021                4       M                1
1300004  210053865600    2021               11       F                1

         TP_COR_RACA  TP_NACIONALIDADE  TP_ST_CONCLUSAO  TP_ANO_CONCLUIU  \
1300000            3                 1                1                1
1300001            2                 1                1               12
1300002            1                 1                3                0
1300003            1                 1                1                2
1300004            1                 1                1                8

         TP_ESCOLA  ...  Q016  Q017  Q018 Q019  Q020 Q021  Q022  Q023  Q024  \
1300000          1  ...     A     A     A    B     A    A     B     A     A
1300001          1  ...     A     A     A    A     A    A     C     A     A
1300002          1  ...     B     A     B    C     A    A     E     A     B
1300003          1  ...     A     A     B    B     A    A     D     A     B
1300004          1  ...     B     A     A    B     A    B     D     A     B

         Q025
1300000     B
1300001     B
1300002     B
1300003     B
1300004     B

[5 rows x 76 columns]
         NU_INSCRICAO  NU_ANO  TP_FAIXA_ETARIA TP_SEXO  TP_ESTADO_CIVIL  \