# ETL da camada silver para camada gold

Esta célula importa todas as bibliotecas necessárias para o processo de ETL.
Aqui são carregados os pacotes para manipulação de dados (pyspark), conexão com o banco de dados PostgreSQL (psycopg), controle de mensagens de erro (sys) e tratamento de avisos (warnings).
Ela deve ser executada antes de qualquer outra célula, pois fornece as dependências básicas que serão usadas nas etapas de Extract, Transform e Load.

In [1]:
import os
import sys
import warnings
import psycopg2 
import pandas as pd
import numpy as np
from psycopg2 import sql
from dotenv import load_dotenv 

from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql.window import Window
from pyspark.sql.types import StringType, IntegerType, DoubleType, DecimalType, TimestampType

# 1. CONFIGURAÇÕES GERAIS

como costume e para evitar possivei erro preferismo configurar o todo sparky logo no topo para ter tudo que precisamos pronto 
aproveitamos e nessa parte para Ignora avisos chatos de versão/depreciação e tambem arrega variáveis da .env

In [2]:

warnings.filterwarnings('ignore') 
load_dotenv()

False

### 1.1 DRIVERS E CAMINHOS
nessa parte e onde feito o ajuste o caminho se necessário. O driver JDBC é vital para o Spark falar com o Postgres.

In [3]:

JAR_NAME = "postgresql-42.7.8.jar"
JAR_PATH = os.path.abspath(JAR_NAME)

if not os.path.exists(JAR_PATH):
    print(f"AVISO: Driver JDBC '{JAR_NAME}' não encontrado na pasta atual.")
    print("O Spark não conseguirá salvar no banco sem ele.")
else:
    print(f" Driver JDBC localizado: {JAR_PATH}")

 Driver JDBC localizado: /home/emivalto/workspace/BD2V/SDBD2---INEP/Transformer/postgresql-42.7.8.jar

### 1.2 INICIALIZAÇÃO DA SESSÃO SPARK
 esta e uma das fasses cruciais tambem pois e onde finalizamos sessão antiga se existir para garantir que o JAR seja carregado corretamente, e onde configuramos o Spark

In [4]:
print("\n Iniciando motor Spark...")

spark = SparkSession.builder \
    .appName("ETL_Enem_Gold_Layer") \
    .config("spark.driver.memory", "5g") \
    .config("spark.jars", JAR_PATH) \
    .config("spark.driver.extraClassPath", JAR_PATH) \
    .config("spark.executor.extraClassPath", JAR_PATH) \
    .config("spark.sql.legacy.timeParserPolicy", "CORRECTED") \
    .getOrCreate()

print(f"Spark {spark.version} ativo e pronto para análise!")

 Iniciando motor Spark...

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
26/01/24 01:55:05 WARN Utils: Your hostname, Emivalto, resolves to a loopback address: 127.0.1.1; using 10.255.255.254 instead (on interface lo)
26/01/24 01:55:05 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
26/01/24 01:55:05 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

Spark 4.1.1 ativo e pronto para análise!

### 1.3 VARIÁVEIS DE CONEXÃO

In [5]:

DB_CONFIG = {
    "host": "localhost",
    "port": "5432",
    "dbname": "dados_inep",
    "user": "admin",
    "password": "l1l2r1r2" 
}

JDBC_URL = f"jdbc:postgresql://{DB_CONFIG['host']}:{DB_CONFIG['port']}/{DB_CONFIG['dbname']}"

# 1. Extract

Esta célula define as configurações de conexão com o banco de dados PostgreSQL e monta a consulta SQL que será usada para extrair os dados.
Ela cria variáveis com credenciais, monta o nome completo da tabela (schema.tabela) e gera a query SELECT * FROM silver.listings, além de preparar a connection string usada na etapa de conexão.

In [6]:

DB_SCHEMA = "silver"
TABLE_NAME = "microdados_enem"
FULL_TABLE_NAME = f"{DB_SCHEMA}.{TABLE_NAME}" 


def get_jdbc_connection_info():
    load_dotenv()
    
    url = os.getenv('DB_JDBC_URL') 
    if url:
        return url

    DB_USER = "admin"
    DB_PASS = "l1l2r1r2"
    DB_HOST = "localhost"
    DB_PORT = "5432"
    DB_NAME = "dados_inep"

    return f"jdbc:postgresql://{DB_HOST}:{DB_PORT}/{DB_NAME}", DB_USER, DB_PASS

jdbc_url, db_user, db_pass = get_jdbc_connection_info()

print(f" Preparando leitura da tabela: {FULL_TABLE_NAME}")
print(f" URL de Conexão: {jdbc_url}")

try:
    df_silver = spark.read \
        .format("jdbc") \
        .option("url", jdbc_url) \
        .option("dbtable", FULL_TABLE_NAME) \
        .option("user", db_user) \
        .option("password", db_pass) \
        .option("driver", "org.postgresql.Driver") \
        .load()

    print("\n Sucesso! Dados da camada Silver carregados.")
    print("Schema carregado do Banco:")
    df_silver.printSchema()

except Exception as e:
    print(f" Erro ao ler do banco: {e}")

 Preparando leitura da tabela: silver.microdados_enem
 URL de Conexão: jdbc:postgresql://localhost:5432/dados_inep

 Sucesso! Dados da camada Silver carregados.
Schema carregado do Banco:
root
 |-- nu_inscricao: long (nullable = true)
 |-- tp_faixa_etaria: integer (nullable = true)
 |-- tp_sexo: string (nullable = true)
 |-- tp_estado_civil: integer (nullable = true)
 |-- tp_cor_raca: integer (nullable = true)
 |-- tp_nacionalidade: integer (nullable = true)
 |-- tp_st_conclusao: integer (nullable = true)
 |-- tp_ano_concluiu: integer (nullable = true)
 |-- tp_escola: integer (nullable = true)
 |-- in_treineiro: integer (nullable = true)
 |-- co_municipio_prova: integer (nullable = true)
 |-- no_municipio_prova: string (nullable = true)
 |-- co_uf_prova: integer (nullable = true)
 |-- sg_uf_prova: string (nullable = true)
 |-- tp_presenca_cn: integer (nullable = true)
 |-- tp_presenca_ch: integer (nullable = true)
 |-- tp_presenca_lc: integer (nullable = true)
 |-- tp_presenca_mt: integer (nullable = true)
 |-- co_prova_cn: integer (nullable = true)
 |-- co_prova_ch: integer (nullable = true)
 |-- co_prova_lc: integer (nullable = true)
 |-- co_prova_mt: integer (nullable = true)
 |-- nu_nota_cn: decimal(10,2) (nullable = true)
 |-- nu_nota_ch: decimal(10,2) (nullable = true)
 |-- nu_nota_lc: decimal(10,2) (nullable = true)
 |-- nu_nota_mt: decimal(10,2) (nullable = true)
 |-- tx_respostas_cn: string (nullable = true)
 |-- tx_respostas_ch: string (nullable = true)
 |-- tx_respostas_lc: string (nullable = true)
 |-- tx_respostas_mt: string (nullable = true)
 |-- tp_lingua: integer (nullable = true)
 |-- tx_gabarito_cn: string (nullable = true)
 |-- tx_gabarito_ch: string (nullable = true)
 |-- tx_gabarito_lc: string (nullable = true)
 |-- tx_gabarito_mt: string (nullable = true)
 |-- tp_status_redacao: integer (nullable = true)
 |-- nu_nota_comp1: decimal(10,2) (nullable = true)
 |-- nu_nota_comp2: decimal(10,2) (nullable = true)
 |-- nu_nota_comp3: decimal(10,2) (nullable = true)
 |-- nu_nota_comp4: decimal(10,2) (nullable = true)
 |-- nu_nota_comp5: decimal(10,2) (nullable = true)
 |-- nu_nota_redacao: decimal(10,2) (nullable = true)
 |-- q001: string (nullable = true)
 |-- q002: string (nullable = true)
 |-- q003: string (nullable = true)
 |-- q004: string (nullable = true)
 |-- q005: integer (nullable = true)
 |-- q006: string (nullable = true)
 |-- q007: string (nullable = true)
 |-- q008: string (nullable = true)
 |-- q009: string (nullable = true)
 |-- q010: string (nullable = true)
 |-- q011: string (nullable = true)
 |-- q012: string (nullable = true)
 |-- q013: string (nullable = true)
 |-- q014: string (nullable = true)
 |-- q015: string (nullable = true)
 |-- q016: string (nullable = true)
 |-- q017: string (nullable = true)
 |-- q018: string (nullable = true)
 |-- q019: string (nullable = true)
 |-- q020: string (nullable = true)
 |-- q021: string (nullable = true)
 |-- q022: string (nullable = true)
 |-- q023: string (nullable = true)
 |-- q024: string (nullable = true)
 |-- q025: string (nullable = true)

# 2 CARGA DOS DADOS (Leitura JDBC via Spark) 

Esta proxima célula ira executa a extração dos dados do banco PostgreSQL.

Ela tem que estabelece a conexão usando as configurações definidas anteriormente, converte o objeto SQL em uma query, executa a consulta e carrega o resultado no DataFrame df.

Em caso de falha na conexão ou na leitura, deve ser exibido uma mensagem de erro detalhada e encerra o processo.

Em Big Data, constumasse usar o `spark.read` para criar um ponteiro distribuído para os dados, mais robusto.

afim de melhorar e ver o se aconteceu algum erro no final e feito umas captura dos erros genéricos do Java/Spark.

In [7]:
try:
    print(" Estabelecendo conexão com o Spark JDBC...")
    
    df = spark.read \
        .format("jdbc") \
        .option("url", jdbc_url) \
        .option("dbtable", FULL_TABLE_NAME) \
        .option("user", db_user) \
        .option("password", db_pass) \
        .option("driver", "org.postgresql.Driver") \
        .load()

    print(" Conexão estabelecida.")
    print(f" Tabela '{FULL_TABLE_NAME}' mapeada com sucesso para o Spark!")
    

except Exception as e:
   
    print(f"\n Ocorreu um erro ao conectar ou ler o banco de dados via Spark ")
    print(f"Erro detalhado: {e}")
    sys.exit(1)

 Estabelecendo conexão com o Spark JDBC...
 Conexão estabelecida.
 Tabela 'silver.microdados_enem' mapeada com sucesso para o Spark!

### 2.1 VALIDAÇÃO DA CARGA
Estas células e basicamente para validar a quantidade de dados esta vindo corretamente e exibem um resumo simples do resultado da extração, mostrando o número total de registros carregados no DataFrame df, as primeiras cinco tuplas e os tipos de cada dado.
Elas servem para confirmar visualmente que a consulta foi executada com sucesso e quantas linhas foram retornadas do banco.

In [8]:

print(" Contando registros no DataFrame...")
qtd_linhas = df.count()
print(f"Total de linhas carregadas: {qtd_linhas}")

print("\n --- Estrutura da Tabela (Schema) ---")

df.printSchema()

print("\n--- Visualização dos Dados (Amostra) ---")

df.show(5, truncate=False)

 Contando registros no DataFrame...
Total de linhas carregadas: 509954

 --- Estrutura da Tabela (Schema) ---
root
 |-- nu_inscricao: long (nullable = true)
 |-- tp_faixa_etaria: integer (nullable = true)
 |-- tp_sexo: string (nullable = true)
 |-- tp_estado_civil: integer (nullable = true)
 |-- tp_cor_raca: integer (nullable = true)
 |-- tp_nacionalidade: integer (nullable = true)
 |-- tp_st_conclusao: integer (nullable = true)
 |-- tp_ano_concluiu: integer (nullable = true)
 |-- tp_escola: integer (nullable = true)
 |-- in_treineiro: integer (nullable = true)
 |-- co_municipio_prova: integer (nullable = true)
 |-- no_municipio_prova: string (nullable = true)
 |-- co_uf_prova: integer (nullable = true)
 |-- sg_uf_prova: string (nullable = true)
 |-- tp_presenca_cn: integer (nullable = true)
 |-- tp_presenca_ch: integer (nullable = true)
 |-- tp_presenca_lc: integer (nullable = true)
 |-- tp_presenca_mt: integer (nullable = true)
 |-- co_prova_cn: integer (nullable = true)
 |-- co_prova_ch: integer (nullable = true)
 |-- co_prova_lc: integer (nullable = true)
 |-- co_prova_mt: integer (nullable = true)
 |-- nu_nota_cn: decimal(10,2) (nullable = true)
 |-- nu_nota_ch: decimal(10,2) (nullable = true)
 |-- nu_nota_lc: decimal(10,2) (nullable = true)
 |-- nu_nota_mt: decimal(10,2) (nullable = true)
 |-- tx_respostas_cn: string (nullable = true)
 |-- tx_respostas_ch: string (nullable = true)
 |-- tx_respostas_lc: string (nullable = true)
 |-- tx_respostas_mt: string (nullable = true)
 |-- tp_lingua: integer (nullable = true)
 |-- tx_gabarito_cn: string (nullable = true)
 |-- tx_gabarito_ch: string (nullable = true)
 |-- tx_gabarito_lc: string (nullable = true)
 |-- tx_gabarito_mt: string (nullable = true)
 |-- tp_status_redacao: integer (nullable = true)
 |-- nu_nota_comp1: decimal(10,2) (nullable = true)
 |-- nu_nota_comp2: decimal(10,2) (nullable = true)
 |-- nu_nota_comp3: decimal(10,2) (nullable = true)
 |-- nu_nota_comp4: decimal(10,2) (nullable = true)
 |-- nu_nota_comp5: decimal(10,2) (nullable = true)
 |-- nu_nota_redacao: decimal(10,2) (nullable = true)
 |-- q001: string (nullable = true)
 |-- q002: string (nullable = true)
 |-- q003: string (nullable = true)
 |-- q004: string (nullable = true)
 |-- q005: integer (nullable = true)
 |-- q006: string (nullable = true)
 |-- q007: string (nullable = true)
 |-- q008: string (nullable = true)
 |-- q009: string (nullable = true)
 |-- q010: string (nullable = true)
 |-- q011: string (nullable = true)
 |-- q012: string (nullable = true)
 |-- q013: string (nullable = true)
 |-- q014: string (nullable = true)
 |-- q015: string (nullable = true)
 |-- q016: string (nullable = true)
 |-- q017: string (nullable = true)
 |-- q018: string (nullable = true)
 |-- q019: string (nullable = true)
 |-- q020: string (nullable = true)
 |-- q021: string (nullable = true)
 |-- q022: string (nullable = true)
 |-- q023: string (nullable = true)
 |-- q024: string (nullable = true)
 |-- q025: string (nullable = true)


--- Visualização dos Dados (Amostra) ---

26/01/24 01:55:27 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+------------+---------------+-------+---------------+-----------+----------------+---------------+---------------+---------+------------+------------------+------------------+-----------+-----------+--------------+--------------+--------------+--------------+-----------+-----------+-----------+-----------+----------+----------+----------+----------+---------------------------------------------+---------------------------------------------+--------------------------------------------------+---------------------------------------------+---------+---------------------------------------------+---------------------------------------------+--------------------------------------------------+---------------------------------------------+-----------------+-------------+-------------+-------------+-------------+-------------+---------------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+
|nu_inscricao|tp_faixa_etaria|tp_sexo|tp_estado_civil|tp_cor_raca|tp_nacionalidade|tp_st_conclusao|tp_ano_concluiu|tp_escola|in_treineiro|co_municipio_prova|no_municipio_prova|co_uf_prova|sg_uf_prova|tp_presenca_cn|tp_presenca_ch|tp_presenca_lc|tp_presenca_mt|co_prova_cn|co_prova_ch|co_prova_lc|co_prova_mt|nu_nota_cn|nu_nota_ch|nu_nota_lc|nu_nota_mt|tx_respostas_cn                              |tx_respostas_ch                              |tx_respostas_lc                                   |tx_respostas_mt                              |tp_lingua|tx_gabarito_cn                               |tx_gabarito_ch                               |tx_gabarito_lc                                    |tx_gabarito_mt                               |tp_status_redacao|nu_nota_comp1|nu_nota_comp2|nu_nota_comp3|nu_nota_comp4|nu_nota_comp5|nu_nota_redacao|q001|q002|q003|q004|q005|q006|q007|q008|q009|q010|q011|q012|q013|q014|q015|q016|q017|q018|q019|q020|q021|q022|q023|q024|q025|
+------------+---------------+-------+---------------+-----------+----------------+---------------+---------------+---------+------------+------------------+------------------+-----------+-----------+--------------+--------------+--------------+--------------+-----------+-----------+-----------+-----------+----------+----------+----------+----------+---------------------------------------------+---------------------------------------------+--------------------------------------------------+---------------------------------------------+---------+---------------------------------------------+---------------------------------------------+--------------------------------------------------+---------------------------------------------+-----------------+-------------+-------------+-------------+-------------+-------------+---------------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+
|210052231727|6              |M      |1              |1          |1               |1              |4              |1        |0           |3550308           |São Paulo         |35         |SP         |1             |1             |1             |1             |912        |882        |891        |901        |677.80    |691.00    |661.00    |792.40    |AADCBAEBEEDBBABEDDCECBCCDABCAEACBDCCCDBDBEBCB|EAAAEADBEAEBBABEECBBADEBBBEDEBADBCEDBEBBCAEEE|ACABB99999BCEADCBCACCEEAADDAEBEDDDBBDAEADCDCCEBBED|DACAEBACDDCBBECCCBCBECADDEEDCAECADCBBBABDBDCE|0        |DABCEDEBEEBBCABEDDCBCBECDADCDAACBDCCCDBBBEBAB|EBAAEADBCACBBABEECBAAEEBBBADCBADBCEDDEBBCAEAB|ACABBACAEADCEADABDACDCEABDDADBEDDDEBBACCDDDCCEBBBB|DCCAEBABDDCABEECCBCCEXADDCEECDEBADCABBDBDEDCE|1                |160.00       |160.00       |200.00       |180.00       |160.00       |860.00         |F   |E   |D   |F   |3   |G   |A   |C   |C   |B   |A   |B   |B   |B   |A   |B   |A   |A   |C   |A   |B   |D   |B   |C   |B   |
|210053931371|2              |F      |0              |1          |1               |2              |0              |3        |0           |3548500           |Santos            |35         |SP         |1             |1             |1             |1             |909        |881        |892        |899        |710.30    |684.70    |658.00    |813.10    |EDECABEEADCBBBACCDCEBEEBDCBBEABCBCBDCDCEBADCD|BEECCAACBADBCADEAAEDEBEBBBBDBCBAADEBBBADCABBA|ABEAC99999CEBDDACEBCDCBDCBDBADDBBDEDEEEAADCDAEACDE|EBAEBABDDCECCADCDCDCEEAADDABBDBDEDDDDCCADDCAB|0        |EDECABEDABCBEBACCDCBBEEBBCBDAAECDCBDCDBBBADCD|BEECCAEABADBCAEBAAEEDDEBBBADBCBAAEEBBBADCCBBA|ABBACAAECACDBDDADEBDDCBDCEDBEDDBBBBDCEEAADABACACDC|EEXEBABDDCECCBCCECDCAEBADEABBDBDEDCEDCCADDCAB|1                |160.00       |180.00       |140.00       |160.00       |160.00       |800.00         |F   |F   |D   |D   |4   |N   |A   |C   |D   |B   |A   |B   |B   |B   |B   |B   |A   |B   |B   |A   |A   |E   |A   |D   |B   |
|210051482416|3              |M      |1              |1          |1               |2              |0              |2        |0           |3541000           |Praia Grande      |35         |SP         |1             |1             |1             |1             |909        |881        |892        |899        |661.70    |579.70    |521.20    |654.70    |EBEEABEBABCDEBCECDCBBEECBDBDEACDDCEBCDAECABBD|BCEACDEABC*CEDEAECEDCBABBCADBBAAABECBCABCBBDA|AACAC99999DDBDEAACDDCEBCCCBDDEBCCDEDEBEAACCAEEACCE|EBAECABDCCCCDBECBCCCBBADDEADBADEBBACBCDADDBBC|0        |EDECABEDABCBEBACCDCBBEEBBCBDAAECDCBDCDBBBADCD|BEECCAEABADBCAEBAAEEDDEBBBADBCBAAEEBBBADCCBBA|ABBACAAECACDBDDADEBDDCBDCEDBEDDBBBBDCEEAADABACACDC|EEXEBABDDCECCBCCECDCAEBADEABBDBDEDCEDCCADDCAB|1                |80.00        |120.00       |80.00        |80.00        |40.00        |400.00         |E   |C   |E   |B   |3   |B   |A   |B   |C   |A   |A   |A   |B   |B   |B   |B   |A   |B   |B   |A   |A   |C   |B   |B   |B   |
|210052247190|2              |F      |1              |4          |4               |2              |0              |2        |0           |3550308           |São Paulo         |35         |SP         |0             |1             |1             |0             |0          |879        |889        |0          |0.00      |595.10    |589.30    |0.00      |Nao Respondido                               |BACCEAADAEDBEBBACDBABDECCAAACDCABAEABDBCACEDC|CAABB99999BDDDEADCDDDAADCACBEDCEAABACCBBBAAACCCBDB|Nao Respondido                               |0        |Nao Respondido                               |BADCBADBCEDDEBBADBCABEECCAEABEBAAECBBABAAEEBB|CAABBCAEAABDCDEADCEDBEDDDABBBBDEBCEADABDBACACDCDDC|Nao Respondido                               |1                |160.00       |200.00       |180.00       |180.00       |140.00       |860.00         |D   |E   |B   |C   |3   |E   |A   |D   |D   |C   |A   |B   |B   |B   |A   |B   |A   |A   |C   |A   |B   |C   |B   |C   |B   |
|210052806093|3              |M      |1              |3          |1               |2              |0              |2        |0           |3510609           |Carapicuíba       |35         |SP         |1             |1             |1             |1             |910        |879        |889        |900        |564.50    |573.30    |527.50    |675.40    |ACDDCECBBECACBDCAEDDCBDEAADACCCEECCEDBAEBDABE|EDDCEBDDBDDBEBAACCEDBBEDCAEABDADDCEBDADBACECB|EADBB99999ADCEEADEEEDEADCACBEACEDEDBCEBDDABAECBCBA|DDCDDDCEEBADEDBADEAEEAADCEACABDECDDAECEADCAEE|0        |ADCDCDBBBECDCCDCBCBDABCAADCBEBABEEBBBCABEDEDE|BADCBADBCEDDEBBADBCABEECCAEABEBAAECBBABAAEEBB|CAABBCAEAABDCDEADCEDBEDDDABBBBDEBCEADABDBACACDCDDC|DDCABDCCAEDCEBBDBDAEEBADCAECDBCCCCDDCEEBABXEE|1                |120.00       |120.00       |120.00       |120.00       |80.00        |560.00         |E   |E   |D   |B   |5   |D   |A   |B   |C   |B   |B   |B   |B   |B   |A   |B   |A   |B   |D   |A   |B   |E   |A   |B   |B   |
+------------+---------------+-------+---------------+-----------+----------------+---------------+---------------+---------+------------+------------------+------------------+-----------+-----------+--------------+--------------+--------------+--------------+-----------+-----------+-----------+-----------+----------+----------+----------+----------+---------------------------------------------+---------------------------------------------+--------------------------------------------------+---------------------------------------------+---------+---------------------------------------------+---------------------------------------------+--------------------------------------------------+---------------------------------------------+-----------------+-------------+-------------+-------------+-------------+-------------+---------------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+
only showing top 5 rows

# 2. Transform

### RENOMEAÇÃO E REMOÇÃO DE COLUNAS 

 1. Definição do Mapa de Colunas (De -> Para)
 Adapte as chaves abaixo para as colunas do ENEM (ex: 'nu_nota_mt': 'nota_matematica')

In [9]:
print("\n Iniciando processo de transformação dos dados...")

mapa_colunas = {
    'nu_inscricao': 'NUM_INS',
    'tp_faixa_etaria': 'COD_FAI_ETA',
    'tp_sexo': 'TIP_SEX',
    'tp_estado_civil': 'COD_EST_CIV',
    'tp_cor_raca': 'COD_COR_RAC',
    'tp_nacionalidade': 'COD_NAC',
    'tp_st_conclusao': 'COD_SIT_CON',
    'tp_ano_concluiu': 'NUM_ANO_CON',
    'in_treineiro': 'IND_TRE',
    'co_municipio_prova': 'COD_MUN',
    'no_municipio_prova': 'NOM_MUN',
    'tp_presenca_cn': 'IND_PRE_NAT',
    'tp_presenca_ch': 'IND_PRE_HUM',
    'tp_presenca_lc': 'IND_PRE_LIN',
    'tp_presenca_mt': 'IND_PRE_MAT',
    'co_prova_cn': 'COD_PRV_NAT',
    'co_prova_ch': 'COD_PRV_HUM',
    'co_prova_lc': 'COD_PRV_LIN',
    'co_prova_mt': 'COD_PRV_MAT',
    'nu_nota_cn': 'VAL_NOT_NAT',
    'nu_nota_ch': 'VAL_NOT_HUM',
    'nu_nota_lc': 'VAL_NOT_LIN',
    'nu_nota_mt': 'VAL_NOT_MAT',
    'tp_lingua': 'TIP_LIN',
    'tp_status_redacao': 'COD_SIT_RED',
    'nu_nota_redacao': 'VAL_NOT_RED',
    'q001': 'COD_ESC_PAI',
    'q002': 'COD_ESC_MAE',
    'q003': 'COD_OCU_PAI',
    'q004': 'COD_OCU_MAE',
    'q005': 'QTD_PES_RES',
    'q006': 'COD_REN_FAM',
    'q007': 'COD_EMP_DOM',
    'q008': 'COD_POS_BAN',
    'q009': 'COD_POS_QUA',
    'q010': 'COD_POS_CAR',
    'q011': 'COD_POS_MOT',
    'q012': 'COD_POS_GEL',
    'q013': 'COD_POS_FRE',
    'q014': 'COD_POS_LAV',
    'q015': 'COD_POS_SEC',
    'q016': 'COD_POS_MIC',
    'q017': 'COD_POS_LOU',
    'q018': 'COD_POS_ASP',
    'q019': 'COD_POS_TEL',
    'q020': 'COD_POS_DVD',
    'q021': 'COD_POS_TVA',
    'q022': 'COD_POS_CEL',
    'q023': 'COD_POS_FIX',
    'q024': 'COD_POS_COM',
    'q025': 'IND_ACE_INT'
}


print(" Renomeando colunas...")
for coluna_antiga, coluna_nova in mapa_colunas.items():
    df = df.withColumnRenamed(coluna_antiga, coluna_nova)


cols_to_drop = ['tp_escola', 'co_uf_prova', 'sg_uf_prova','tx_gabarito_cn', 'tx_gabarito_ch', 'tx_gabarito_lc', 'tx_gabarito_mt',
                'tx_respostas_cn', 'tx_respostas_ch', 'tx_respostas_lc', 'tx_respostas_mt', 'nu_nota_comp1', 'nu_nota_comp2', 
                'nu_nota_comp3', 'nu_nota_comp4', 'nu_nota_comp5']

df = df.drop(*cols_to_drop)

print(" Colunas renomeadas e desnecessárias removidas.")
print("Novas colunas:", df.columns)

print("\n--- Visualização dos Dados (Amostra) ---")

df.show(5, truncate=False)

 Iniciando processo de transformação dos dados...
 Renomeando colunas...
 Colunas renomeadas e desnecessárias removidas.
Novas colunas: ['NUM_INS', 'COD_FAI_ETA', 'TIP_SEX', 'COD_EST_CIV', 'COD_COR_RAC', 'COD_NAC', 'COD_SIT_CON', 'NUM_ANO_CON', 'IND_TRE', 'COD_MUN', 'NOM_MUN', 'IND_PRE_NAT', 'IND_PRE_HUM', 'IND_PRE_LIN', 'IND_PRE_MAT', 'COD_PRV_NAT', 'COD_PRV_HUM', 'COD_PRV_LIN', 'COD_PRV_MAT', 'VAL_NOT_NAT', 'VAL_NOT_HUM', 'VAL_NOT_LIN', 'VAL_NOT_MAT', 'TIP_LIN', 'COD_SIT_RED', 'VAL_NOT_RED', 'COD_ESC_PAI', 'COD_ESC_MAE', 'COD_OCU_PAI', 'COD_OCU_MAE', 'QTD_PES_RES', 'COD_REN_FAM', 'COD_EMP_DOM', 'COD_POS_BAN', 'COD_POS_QUA', 'COD_POS_CAR', 'COD_POS_MOT', 'COD_POS_GEL', 'COD_POS_FRE', 'COD_POS_LAV', 'COD_POS_SEC', 'COD_POS_MIC', 'COD_POS_LOU', 'COD_POS_ASP', 'COD_POS_TEL', 'COD_POS_DVD', 'COD_POS_TVA', 'COD_POS_CEL', 'COD_POS_FIX', 'COD_POS_COM', 'IND_ACE_INT']

--- Visualização dos Dados (Amostra) ---

+------------+-----------+-------+-----------+-----------+-------+-----------+-----------+-------+-------+------------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+
|NUM_INS     |COD_FAI_ETA|TIP_SEX|COD_EST_CIV|COD_COR_RAC|COD_NAC|COD_SIT_CON|NUM_ANO_CON|IND_TRE|COD_MUN|NOM_MUN     |IND_PRE_NAT|IND_PRE_HUM|IND_PRE_LIN|IND_PRE_MAT|COD_PRV_NAT|COD_PRV_HUM|COD_PRV_LIN|COD_PRV_MAT|VAL_NOT_NAT|VAL_NOT_HUM|VAL_NOT_LIN|VAL_NOT_MAT|TIP_LIN|COD_SIT_RED|VAL_NOT_RED|COD_ESC_PAI|COD_ESC_MAE|COD_OCU_PAI|COD_OCU_MAE|QTD_PES_RES|COD_REN_FAM|COD_EMP_DOM|COD_POS_BAN|COD_POS_QUA|COD_POS_CAR|COD_POS_MOT|COD_POS_GEL|COD_POS_FRE|COD_POS_LAV|COD_POS_SEC|COD_POS_MIC|COD_POS_LOU|COD_POS_ASP|COD_POS_TEL|COD_POS_DVD|COD_POS_TVA|COD_POS_CEL|COD_POS_FIX|COD_POS_COM|IND_ACE_INT|
+------------+-----------+-------+-----------+-----------+-------+-----------+-----------+-------+-------+------------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+
|210052231727|6          |M      |1          |1          |1      |1          |4          |0      |3550308|São Paulo   |1          |1          |1          |1          |912        |882        |891        |901        |677.80     |691.00     |661.00     |792.40     |0      |1          |860.00     |F          |E          |D          |F          |3          |G          |A          |C          |C          |B          |A          |B          |B          |B          |A          |B          |A          |A          |C          |A          |B          |D          |B          |C          |B          |
|210053931371|2          |F      |0          |1          |1      |2          |0          |0      |3548500|Santos      |1          |1          |1          |1          |909        |881        |892        |899        |710.30     |684.70     |658.00     |813.10     |0      |1          |800.00     |F          |F          |D          |D          |4          |N          |A          |C          |D          |B          |A          |B          |B          |B          |B          |B          |A          |B          |B          |A          |A          |E          |A          |D          |B          |
|210051482416|3          |M      |1          |1          |1      |2          |0          |0      |3541000|Praia Grande|1          |1          |1          |1          |909        |881        |892        |899        |661.70     |579.70     |521.20     |654.70     |0      |1          |400.00     |E          |C          |E          |B          |3          |B          |A          |B          |C          |A          |A          |A          |B          |B          |B          |B          |A          |B          |B          |A          |A          |C          |B          |B          |B          |
|210052247190|2          |F      |1          |4          |4      |2          |0          |0      |3550308|São Paulo   |0          |1          |1          |0          |0          |879        |889        |0          |0.00       |595.10     |589.30     |0.00       |0      |1          |860.00     |D          |E          |B          |C          |3          |E          |A          |D          |D          |C          |A          |B          |B          |B          |A          |B          |A          |A          |C          |A          |B          |C          |B          |C          |B          |
|210052806093|3          |M      |1          |3          |1      |2          |0          |0      |3510609|Carapicuíba |1          |1          |1          |1          |910        |879        |889        |900        |564.50     |573.30     |527.50     |675.40     |0      |1          |560.00     |E          |E          |D          |B          |5          |D          |A          |B          |C          |B          |B          |B          |B          |B          |A          |B          |A          |B          |D          |A          |B          |E          |A          |B          |B          |
+------------+-----------+-------+-----------+-----------+-------+-----------+-----------+-------+-------+------------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+
only showing top 5 rows

### Alocação das colunas 

##### ORGANIZAÇÃO E CONVERSÃO DE TIPOS
nessa parte armazenamos as colunas nas variaveis certar para tabela dimenção e tabela fato

In [10]:


df_par = [ 'NUM_INS' , 'COD_FAI_ETA', 'TIP_SEX', 'COD_EST_CIV', 'COD_COR_RAC', 'COD_NAC', 'COD_SIT_CON', 'NUM_ANO_CON', 'IND_TRE']

df_loc = [ 'COD_MUN', 'NOM_MUN' ]

df_soc = ['COD_ESC_PAI', 'COD_ESC_MAE', 'COD_OCU_PAI', 'COD_OCU_MAE', 'QTD_PES_RES', 'COD_REN_FAM', 'COD_EMP_DOM', 'COD_POS_BAN', 'COD_POS_QUA',
          'COD_POS_CAR', 'COD_POS_MOT', 'COD_POS_GEL', 'COD_POS_FRE', 'COD_POS_LAV', 'COD_POS_SEC', 'COD_POS_MIC', 'COD_POS_LOU', 'COD_POS_ASP',
          'COD_POS_TEL', 'COD_POS_DVD', 'COD_POS_TVA', 'COD_POS_CEL', 'COD_POS_FIX', 'COD_POS_COM', 'IND_ACE_INT' ]

df_prv = ['TIP_LIN', 'COD_PRV_NAT', 'COD_PRV_HUM', 'COD_PRV_LIN', 'COD_PRV_MAT', 'COD_SIT_RED']

df_fat = ['NUM_INS','VAL_NOT_NAT', 'VAL_NOT_HUM', 'VAL_NOT_LIN', 'VAL_NOT_MAT', 'VAL_NOT_RED', 'IND_PRE_NAT', 'IND_PRE_HUM', 'IND_PRE_LIN', 
          'IND_PRE_MAT']

print(" Colunas segmentadas para Dimensões:")
print("\n Parâmetros:", df_par)
print("\n Localização:", df_loc)
print("\n Socioeconômica:", df_soc)
print("\n Prova:", df_prv)
print("\n Fato:", df_fat)


print("\nFato: Todas as outras colunas restantes.",df.columns)

 Colunas segmentadas para Dimensões:

 Parâmetros: ['NUM_INS', 'COD_FAI_ETA', 'TIP_SEX', 'COD_EST_CIV', 'COD_COR_RAC', 'COD_NAC', 'COD_SIT_CON', 'NUM_ANO_CON', 'IND_TRE']

 Localização: ['COD_MUN', 'NOM_MUN']

 Socioeconômica: ['COD_ESC_PAI', 'COD_ESC_MAE', 'COD_OCU_PAI', 'COD_OCU_MAE', 'QTD_PES_RES', 'COD_REN_FAM', 'COD_EMP_DOM', 'COD_POS_BAN', 'COD_POS_QUA', 'COD_POS_CAR', 'COD_POS_MOT', 'COD_POS_GEL', 'COD_POS_FRE', 'COD_POS_LAV', 'COD_POS_SEC', 'COD_POS_MIC', 'COD_POS_LOU', 'COD_POS_ASP', 'COD_POS_TEL', 'COD_POS_DVD', 'COD_POS_TVA', 'COD_POS_CEL', 'COD_POS_FIX', 'COD_POS_COM', 'IND_ACE_INT']

 Prova: ['TIP_LIN', 'COD_PRV_NAT', 'COD_PRV_HUM', 'COD_PRV_LIN', 'COD_PRV_MAT', 'COD_SIT_RED']

 Fato: ['NUM_INS', 'VAL_NOT_NAT', 'VAL_NOT_HUM', 'VAL_NOT_LIN', 'VAL_NOT_MAT', 'VAL_NOT_RED', 'IND_PRE_NAT', 'IND_PRE_HUM', 'IND_PRE_LIN', 'IND_PRE_MAT']

Fato: Todas as outras colunas restantes. ['NUM_INS', 'COD_FAI_ETA', 'TIP_SEX', 'COD_EST_CIV', 'COD_COR_RAC', 'COD_NAC', 'COD_SIT_CON', 'NUM_ANO_CON', 'IND_TRE', 'COD_MUN', 'NOM_MUN', 'IND_PRE_NAT', 'IND_PRE_HUM', 'IND_PRE_LIN', 'IND_PRE_MAT', 'COD_PRV_NAT', 'COD_PRV_HUM', 'COD_PRV_LIN', 'COD_PRV_MAT', 'VAL_NOT_NAT', 'VAL_NOT_HUM', 'VAL_NOT_LIN', 'VAL_NOT_MAT', 'TIP_LIN', 'COD_SIT_RED', 'VAL_NOT_RED', 'COD_ESC_PAI', 'COD_ESC_MAE', 'COD_OCU_PAI', 'COD_OCU_MAE', 'QTD_PES_RES', 'COD_REN_FAM', 'COD_EMP_DOM', 'COD_POS_BAN', 'COD_POS_QUA', 'COD_POS_CAR', 'COD_POS_MOT', 'COD_POS_GEL', 'COD_POS_FRE', 'COD_POS_LAV', 'COD_POS_SEC', 'COD_POS_MIC', 'COD_POS_LOU', 'COD_POS_ASP', 'COD_POS_TEL', 'COD_POS_DVD', 'COD_POS_TVA', 'COD_POS_CEL', 'COD_POS_FIX', 'COD_POS_COM', 'IND_ACE_INT']

In [11]:
print(" Calculando volumes das Dimensões e Fato (isso pode levar alguns segundos)...")


dim_participante = df.select(*df_par).distinct()
dim_localizacao  = df.select(*df_loc).distinct()
dim_socioecon    = df.select(*df_soc).distinct()
dim_prova        = df.select(*df_prv).distinct()

fato_enem        = df.select(*df_fat) 

qtd_par = dim_participante.count()
qtd_loc = dim_localizacao.count()
qtd_soc = dim_socioecon.count()
qtd_prv = dim_prova.count()
qtd_fat = fato_enem.count()



print(" REGISTROS PREPARADOS PARA CARGA (GOLD)")

print(f" Dimensão Participante (dim_par): {qtd_par:,} registros únicos")
print(f" Dimensão Localização  (dim_loc): {qtd_loc:,} municípios únicos")
print(f" Dimensão Socioecon.   (dim_soc): {qtd_soc:,} perfis únicos")
print(f" Dimensão Prova        (dim_prv): {qtd_prv:,} variações de prova")
print(f" Tabela Fato (fato_enem):         {qtd_fat:,} registros totais")

print("--- Estrutura da Tabela Fato ---")
fato_enem.printSchema()

 Calculando volumes das Dimensões e Fato (isso pode levar alguns segundos)...

 REGISTROS PREPARADOS PARA CARGA (GOLD)
 Dimensão Participante (dim_par): 509,954 registros únicos
 Dimensão Localização  (dim_loc): 210 municípios únicos
 Dimensão Socioecon.   (dim_soc): 492,641 perfis únicos
 Dimensão Prova        (dim_prv): 495 variações de prova
 Tabela Fato (fato_enem):         509,954 registros totais
--- Estrutura da Tabela Fato ---
root
 |-- NUM_INS: long (nullable = true)
 |-- VAL_NOT_NAT: decimal(10,2) (nullable = true)
 |-- VAL_NOT_HUM: decimal(10,2) (nullable = true)
 |-- VAL_NOT_LIN: decimal(10,2) (nullable = true)
 |-- VAL_NOT_MAT: decimal(10,2) (nullable = true)
 |-- VAL_NOT_RED: decimal(10,2) (nullable = true)
 |-- IND_PRE_NAT: integer (nullable = true)
 |-- IND_PRE_HUM: integer (nullable = true)
 |-- IND_PRE_LIN: integer (nullable = true)
 |-- IND_PRE_MAT: integer (nullable = true)

# 3. Load

Esta célula configura os parâmetros de conexão com o banco de dados do Data Warehouse (gold) e valida se todas as variáveis geradas na etapa de transformação estão disponíveis na memória.
Ela garante que o ambiente esteja pronto antes de iniciar a fase de carga, evitando erros por falta de dados ou variáveis necessárias.

In [12]:
DB_SCHEMA_GOLD = "gold"

vars_to_check = [
    'dim_participante', # tabela DIM_PAR
    'dim_localizacao',  # tabela DIM_LOC
    'dim_socioecon',    # tabela DIM_SOC
    'dim_prova',        # tabela DIM_PRV
    'fato_enem',        # tabela FAT_DES
    'jdbc_url'   
]

print(f" Verificando pré-requisitos para carga no schema '{DB_SCHEMA_GOLD}'...")

for v in vars_to_check:
    if v not in globals():
        
        raise RuntimeError(f" Variável ausente: {v}. Por favor, rode a célula anterior de preparação das dimensões.")

print("Tudo certo! Todas as variáveis (DataFrames e Conexão) estão carregadas.")

 Verificando pré-requisitos para carga no schema 'gold'...
Tudo certo! Todas as variáveis (DataFrames e Conexão) estão carregadas.

In [14]:
CAMINHO_DDL_GOLD = "../gold/ddl.sql"

print(f" Lendo script DDL em: {CAMINHO_DDL_GOLD}")


try:
    with open(CAMINHO_DDL_GOLD, 'r', encoding='utf-8') as f:
        ddl_gold_script = f.read()
    print(" Arquivo lido com sucesso.")

except FileNotFoundError:
    print(f" Erro Crítico: O arquivo '{CAMINHO_DDL_GOLD}' não foi encontrado.")
    print("Certifique-se de salvar o conteúdo do DDL corrigido no arquivo.")
    sys.exit(1)

print("\n Aplicando estrutura (tabelas e chaves) no PostgreSQL...")

try:
    conn = psycopg2.connect(
        host="localhost",      
        port="5432",           
        database="dados_inep", 
        user="admin",          
        password="l1l2r1r2" 
    )
    
    with conn.cursor() as cur:
        
        cur.execute(ddl_gold_script)
        conn.commit() 
        
    conn.close()
    print(" Sucesso! Schema 'gold' e tabelas criadas/recriadas.")

except Exception as e:
    print(f" Erro ao executar o DDL no banco: {e}")
    sys.exit(1)

 Lendo script DDL em: ../gold/ddl.sql
 Arquivo lido com sucesso.

 Aplicando estrutura (tabelas e chaves) no PostgreSQL...
 Sucesso! Schema 'gold' e tabelas criadas/recriadas.

# CARGA DA DIMENSÃO PARTICIPANTE (DIM_PAR)

In [16]:
from pyspark.sql.window import Window
from pyspark.sql import functions as F
import psycopg2 

print(" Preparando Dimensão Participante (DIM_PAR)...")

w = Window.orderBy("NUM_INS")

df_dim_par_final = df.select(*df_par).distinct() \
    .withColumn("PAR_SRK", F.row_number().over(w))

cols_ordem = ["PAR_SRK"] + df_par
df_dim_par_final = df_dim_par_final.select(*cols_ordem)

print(f" Inserindo {df_dim_par_final.count()} registros na tabela gold.DIM_PAR...")

try:
    df_dim_par_final.write \
        .format("jdbc") \
        .option("url", jdbc_url) \
        .option("dbtable", "gold.DIM_PAR") \
        .option("user", db_user) \
        .option("password", db_pass) \
        .option("driver", "org.postgresql.Driver") \
        .mode("append") \
        .save()
    
    print(" Carga dos participantes concluída.")

except Exception as e:
    print(f" Erro na carga Spark: {e}")
print(" Garantindo registro 'Não Informado' (ID -1)...")

try:

    colunas_sql = ", ".join([f'"{col}"' for col in df_par])
    
    placeholders = ", ".join(["%s"] * len(df_par)) 
    valores_unknown = [-1] + [None] * len(df_par)
    sql_unknown = f"""
        INSERT INTO gold.DIM_PAR ("PAR_SRK", {colunas_sql})
        VALUES (%s, {placeholders})
        ON CONFLICT ("PAR_SRK") DO NOTHING;
    """

    conn = psycopg2.connect(
        host="localhost",      
        port="5432",           
        database="dados_inep", 
        user="admin",          
        password="l1l2r1r2" 
    )
    with conn.cursor() as cur:
        cur.execute(sql_unknown, valores_unknown)
        conn.commit()
    conn.close()
    print(" Registro 'Unknown' (-1) verificado com sucesso.")

except Exception as e:
    print(f" Erro ao inserir registro Unknown: {e}")

 Preparando Dimensão Participante (DIM_PAR)...

26/01/24 01:58:47 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
26/01/24 01:58:47 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
26/01/24 01:58:47 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

 Inserindo 509954 registros na tabela gold.DIM_PAR...

26/01/24 01:58:48 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
26/01/24 01:58:48 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
26/01/24 01:58:49 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
26/01/24 01:58:49 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
26/01/24 01:58:49 ERROR Executor: Exception in task 0.0 in stage 55.0 (TID 95)
java.sql.BatchUpdateException: Batch entry 0 INSERT INTO gold.DIM_PAR ("par_srk","num_ins","cod_fai_eta","tip_sex","cod_est_civ","cod_cor_rac","cod_nac","cod_sit_con","num_ano_con","ind_tre") VALUES (('1'::int4),('210051014332'::int8),('3'::int4),('F'),('1'::int4),('3'::int4),('1'::int4),('2'::int4),('0'::int4),('0'::int4)) was aborted: ERROR: duplicate key value violates unique constraint "dim_par_pkey"
  Detail: Key (par_srk)=(1) already exists.  Call getNextException to see other errors in the batch.
	at org.postgresql.jdbc.BatchResultHandler.handleError(BatchResultHandler.java:165)
	at org.postgresql.core.ResultHandlerDelegate.handleError(ResultHandlerDelegate.java:52)
	at org.postgresql.core.v3.QueryExecutorImpl.processResults(QueryExecutorImpl.java:2422)
	at org.postgresql.core.v3.QueryExecutorImpl.processResults(QueryExecutorImpl.java:2154)
	at org.postgresql.core.v3.QueryExecutorImpl.flushIfDeadlockRisk(QueryExecutorImpl.java:1502)
	at org.postgresql.core.v3.QueryExecutorImpl.sendQuery(QueryExecutorImpl.java:1527)
	at org.postgresql.core.v3.QueryExecutorImpl.execute(QueryExecutorImpl.java:566)
	at org.postgresql.jdbc.PgStatement.internalExecuteBatch(PgStatement.java:891)
	at org.postgresql.jdbc.PgStatement.executeBatch(PgStatement.java:915)
	at org.postgresql.jdbc.PgPreparedStatement.executeBatch(PgPreparedStatement.java:1778)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.savePartition(JdbcUtils.scala:860)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.$anonfun$saveTable$1(JdbcUtils.scala:1018)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.$anonfun$saveTable$1$adapted(JdbcUtils.scala:1017)
	at org.apache.spark.rdd.RDD.$anonfun$foreachPartition$2(RDD.scala:1047)
	at org.apache.spark.rdd.RDD.$anonfun$foreachPartition$2$adapted(RDD.scala:1047)
	at org.apache.spark.SparkContext.$anonfun$runJob$5(SparkContext.scala:2536)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:93)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:180)
	at org.apache.spark.scheduler.Task.run(Task.scala:147)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$5(Executor.scala:716)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally(SparkErrorUtils.scala:86)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally$(SparkErrorUtils.scala:83)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:97)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:719)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1144)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:642)
	at java.base/java.lang.Thread.run(Thread.java:1583)
Caused by: org.postgresql.util.PSQLException: ERROR: duplicate key value violates unique constraint "dim_par_pkey"
  Detail: Key (par_srk)=(1) already exists.
	at org.postgresql.core.v3.QueryExecutorImpl.receiveErrorResponse(QueryExecutorImpl.java:2736)
	at org.postgresql.core.v3.QueryExecutorImpl.processResults(QueryExecutorImpl.java:2421)
	... 24 more
26/01/24 01:58:49 WARN TaskSetManager: Lost task 0.0 in stage 55.0 (TID 95) (10.255.255.254 executor driver): java.sql.BatchUpdateException: Batch entry 0 INSERT INTO gold.DIM_PAR ("par_srk","num_ins","cod_fai_eta","tip_sex","cod_est_civ","cod_cor_rac","cod_nac","cod_sit_con","num_ano_con","ind_tre") VALUES (('1'::int4),('210051014332'::int8),('3'::int4),('F'),('1'::int4),('3'::int4),('1'::int4),('2'::int4),('0'::int4),('0'::int4)) was aborted: ERROR: duplicate key value violates unique constraint "dim_par_pkey"
  Detail: Key (par_srk)=(1) already exists.  Call getNextException to see other errors in the batch.
	at org.postgresql.jdbc.BatchResultHandler.handleError(BatchResultHandler.java:165)
	at org.postgresql.core.ResultHandlerDelegate.handleError(ResultHandlerDelegate.java:52)
	at org.postgresql.core.v3.QueryExecutorImpl.processResults(QueryExecutorImpl.java:2422)
	at org.postgresql.core.v3.QueryExecutorImpl.processResults(QueryExecutorImpl.java:2154)
	at org.postgresql.core.v3.QueryExecutorImpl.flushIfDeadlockRisk(QueryExecutorImpl.java:1502)
	at org.postgresql.core.v3.QueryExecutorImpl.sendQuery(QueryExecutorImpl.java:1527)
	at org.postgresql.core.v3.QueryExecutorImpl.execute(QueryExecutorImpl.java:566)
	at org.postgresql.jdbc.PgStatement.internalExecuteBatch(PgStatement.java:891)
	at org.postgresql.jdbc.PgStatement.executeBatch(PgStatement.java:915)
	at org.postgresql.jdbc.PgPreparedStatement.executeBatch(PgPreparedStatement.java:1778)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.savePartition(JdbcUtils.scala:860)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.$anonfun$saveTable$1(JdbcUtils.scala:1018)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.$anonfun$saveTable$1$adapted(JdbcUtils.scala:1017)
	at org.apache.spark.rdd.RDD.$anonfun$foreachPartition$2(RDD.scala:1047)
	at org.apache.spark.rdd.RDD.$anonfun$foreachPartition$2$adapted(RDD.scala:1047)
	at org.apache.spark.SparkContext.$anonfun$runJob$5(SparkContext.scala:2536)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:93)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:180)
	at org.apache.spark.scheduler.Task.run(Task.scala:147)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$5(Executor.scala:716)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally(SparkErrorUtils.scala:86)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally$(SparkErrorUtils.scala:83)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:97)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:719)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1144)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:642)
	at java.base/java.lang.Thread.run(Thread.java:1583)
Caused by: org.postgresql.util.PSQLException: ERROR: duplicate key value violates unique constraint "dim_par_pkey"
  Detail: Key (par_srk)=(1) already exists.
	at org.postgresql.core.v3.QueryExecutorImpl.receiveErrorResponse(QueryExecutorImpl.java:2736)
	at org.postgresql.core.v3.QueryExecutorImpl.processResults(QueryExecutorImpl.java:2421)
	... 24 more

26/01/24 01:58:49 ERROR TaskSetManager: Task 0 in stage 55.0 failed 1 times; aborting job

 Erro na carga Spark: An error occurred while calling o269.save.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 55.0 failed 1 times, most recent failure: Lost task 0.0 in stage 55.0 (TID 95) (10.255.255.254 executor driver): java.sql.BatchUpdateException: Batch entry 0 INSERT INTO gold.DIM_PAR ("par_srk","num_ins","cod_fai_eta","tip_sex","cod_est_civ","cod_cor_rac","cod_nac","cod_sit_con","num_ano_con","ind_tre") VALUES (('1'::int4),('210051014332'::int8),('3'::int4),('F'),('1'::int4),('3'::int4),('1'::int4),('2'::int4),('0'::int4),('0'::int4)) was aborted: ERROR: duplicate key value violates unique constraint "dim_par_pkey"
  Detail: Key (par_srk)=(1) already exists.  Call getNextException to see other errors in the batch.
	at org.postgresql.jdbc.BatchResultHandler.handleError(BatchResultHandler.java:165)
	at org.postgresql.core.ResultHandlerDelegate.handleError(ResultHandlerDelegate.java:52)
	at org.postgresql.core.v3.QueryExecutorImpl.processResults(QueryExecutorImpl.java:2422)
	at org.postgresql.core.v3.QueryExecutorImpl.processResults(QueryExecutorImpl.java:2154)
	at org.postgresql.core.v3.QueryExecutorImpl.flushIfDeadlockRisk(QueryExecutorImpl.java:1502)
	at org.postgresql.core.v3.QueryExecutorImpl.sendQuery(QueryExecutorImpl.java:1527)
	at org.postgresql.core.v3.QueryExecutorImpl.execute(QueryExecutorImpl.java:566)
	at org.postgresql.jdbc.PgStatement.internalExecuteBatch(PgStatement.java:891)
	at org.postgresql.jdbc.PgStatement.executeBatch(PgStatement.java:915)
	at org.postgresql.jdbc.PgPreparedStatement.executeBatch(PgPreparedStatement.java:1778)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.savePartition(JdbcUtils.scala:860)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.$anonfun$saveTable$1(JdbcUtils.scala:1018)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.$anonfun$saveTable$1$adapted(JdbcUtils.scala:1017)
	at org.apache.spark.rdd.RDD.$anonfun$foreachPartition$2(RDD.scala:1047)
	at org.apache.spark.rdd.RDD.$anonfun$foreachPartition$2$adapted(RDD.scala:1047)
	at org.apache.spark.SparkContext.$anonfun$runJob$5(SparkContext.scala:2536)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:93)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:180)
	at org.apache.spark.scheduler.Task.run(Task.scala:147)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$5(Executor.scala:716)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally(SparkErrorUtils.scala:86)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally$(SparkErrorUtils.scala:83)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:97)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:719)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1144)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:642)
	at java.base/java.lang.Thread.run(Thread.java:1583)
Caused by: org.postgresql.util.PSQLException: ERROR: duplicate key value violates unique constraint "dim_par_pkey"
  Detail: Key (par_srk)=(1) already exists.
	at org.postgresql.core.v3.QueryExecutorImpl.receiveErrorResponse(QueryExecutorImpl.java:2736)
	at org.postgresql.core.v3.QueryExecutorImpl.processResults(QueryExecutorImpl.java:2421)
	... 24 more

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$3(DAGScheduler.scala:3122)
	at scala.Option.getOrElse(Option.scala:201)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2(DAGScheduler.scala:3122)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2$adapted(DAGScheduler.scala:3114)
	at scala.collection.immutable.List.foreach(List.scala:323)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:3114)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1(DAGScheduler.scala:1303)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1$adapted(DAGScheduler.scala:1303)
	at scala.Option.foreach(Option.scala:437)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:1303)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:3397)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:3328)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:3317)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:50)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:1017)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2496)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2517)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2536)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2561)
	at org.apache.spark.rdd.RDD.$anonfun$foreachPartition$1(RDD.scala:1047)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:417)
	at org.apache.spark.rdd.RDD.foreachPartition(RDD.scala:1045)
	at org.apache.spark.sql.classic.Dataset.$anonfun$foreachPartition$1(Dataset.scala:1496)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.scala:18)
	at org.apache.spark.sql.classic.Dataset.$anonfun$withNewRDDExecutionId$1(Dataset.scala:2252)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId0$8(SQLExecution.scala:177)
	at org.apache.spark.sql.execution.SQLExecution$.withSessionTagsApplied(SQLExecution.scala:285)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId0$7(SQLExecution.scala:139)
	at org.apache.spark.JobArtifactSet$.withActiveJobArtifactState(JobArtifactSet.scala:94)
	at org.apache.spark.sql.artifact.ArtifactManager.$anonfun$withResources$1(ArtifactManager.scala:112)
	at org.apache.spark.sql.artifact.ArtifactManager.withClassLoaderIfNeeded(ArtifactManager.scala:106)
	at org.apache.spark.sql.artifact.ArtifactManager.withResources(ArtifactManager.scala:111)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId0$6(SQLExecution.scala:139)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:308)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId0$1(SQLExecution.scala:138)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:804)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId0(SQLExecution.scala:92)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:250)
	at org.apache.spark.sql.classic.Dataset.withNewRDDExecutionId(Dataset.scala:2250)
	at org.apache.spark.sql.classic.Dataset.foreachPartition(Dataset.scala:1496)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.saveTable(JdbcUtils.scala:1017)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcRelationProvider.createRelation(JdbcRelationProvider.scala:80)
	at org.apache.spark.sql.execution.datasources.SaveIntoDataSourceCommand.run(SaveIntoDataSourceCommand.scala:55)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult$lzycompute(commands.scala:79)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult(commands.scala:77)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.executeCollect(commands.scala:88)
	at org.apache.spark.sql.execution.QueryExecution.$anonfun$eagerlyExecuteCommands$2(QueryExecution.scala:185)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId0$8(SQLExecution.scala:177)
	at org.apache.spark.sql.execution.SQLExecution$.withSessionTagsApplied(SQLExecution.scala:285)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId0$7(SQLExecution.scala:139)
	at org.apache.spark.JobArtifactSet$.withActiveJobArtifactState(JobArtifactSet.scala:94)
	at org.apache.spark.sql.artifact.ArtifactManager.$anonfun$withResources$1(ArtifactManager.scala:112)
	at org.apache.spark.sql.artifact.ArtifactManager.withClassLoaderIfNeeded(ArtifactManager.scala:106)
	at org.apache.spark.sql.artifact.ArtifactManager.withResources(ArtifactManager.scala:111)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId0$6(SQLExecution.scala:139)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:308)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId0$1(SQLExecution.scala:138)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:804)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId0(SQLExecution.scala:92)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:250)
	at org.apache.spark.sql.execution.QueryExecution.$anonfun$eagerlyExecuteCommands$1(QueryExecution.scala:185)
	at org.apache.spark.sql.execution.QueryExecution$.withInternalError(QueryExecution.scala:717)
	at org.apache.spark.sql.execution.QueryExecution.org$apache$spark$sql$execution$QueryExecution$$eagerlyExecute$1(QueryExecution.scala:184)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$3.applyOrElse(QueryExecution.scala:201)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$3.applyOrElse(QueryExecution.scala:194)
	at org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$transformDownWithPruning$1(TreeNode.scala:491)
	at org.apache.spark.sql.catalyst.trees.CurrentOrigin$.withOrigin(origin.scala:107)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDownWithPruning(TreeNode.scala:491)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.org$apache$spark$sql$catalyst$plans$logical$AnalysisHelper$$super$transformDownWithPruning(LogicalPlan.scala:37)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning(AnalysisHelper.scala:360)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning$(AnalysisHelper.scala:356)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:37)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:37)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDown(TreeNode.scala:467)
	at org.apache.spark.sql.execution.QueryExecution.eagerlyExecuteCommands(QueryExecution.scala:194)
	at org.apache.spark.sql.execution.QueryExecution.$anonfun$lazyCommandExecuted$1(QueryExecution.scala:155)
	at scala.util.Try$.apply(Try.scala:217)
	at org.apache.spark.util.Utils$.doTryWithCallerStacktrace(Utils.scala:1392)
	at org.apache.spark.util.Utils$.getTryWithCallerStacktrace(Utils.scala:1453)
	at org.apache.spark.util.LazyTry.get(LazyTry.scala:58)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted(QueryExecution.scala:160)
	at org.apache.spark.sql.execution.QueryExecution.assertCommandExecuted(QueryExecution.scala:239)
	at org.apache.spark.sql.classic.DataFrameWriter.runCommand(DataFrameWriter.scala:592)
	at org.apache.spark.sql.classic.DataFrameWriter.save(DataFrameWriter.scala:126)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:75)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:52)
	at java.base/java.lang.reflect.Method.invoke(Method.java:580)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:184)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:108)
	at java.base/java.lang.Thread.run(Thread.java:1583)
	Suppressed: org.apache.spark.util.Utils$OriginalTryStackTraceException: Full stacktrace of original doTryWithCallerStacktrace caller
		at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$3(DAGScheduler.scala:3122)
		at scala.Option.getOrElse(Option.scala:201)
		at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2(DAGScheduler.scala:3122)
		at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2$adapted(DAGScheduler.scala:3114)
		at scala.collection.immutable.List.foreach(List.scala:323)
		at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:3114)
		at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1(DAGScheduler.scala:1303)
		at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1$adapted(DAGScheduler.scala:1303)
		at scala.Option.foreach(Option.scala:437)
		at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:1303)
		at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:3397)
		at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:3328)
		at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:3317)
		at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:50)
		at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:1017)
		at org.apache.spark.SparkContext.runJob(SparkContext.scala:2496)
		at org.apache.spark.SparkContext.runJob(SparkContext.scala:2517)
		at org.apache.spark.SparkContext.runJob(SparkContext.scala:2536)
		at org.apache.spark.SparkContext.runJob(SparkContext.scala:2561)
		at org.apache.spark.rdd.RDD.$anonfun$foreachPartition$1(RDD.scala:1047)
		at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
		at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
		at org.apache.spark.rdd.RDD.withScope(RDD.scala:417)
		at org.apache.spark.rdd.RDD.foreachPartition(RDD.scala:1045)
		at org.apache.spark.sql.classic.Dataset.$anonfun$foreachPartition$1(Dataset.scala:1496)
		at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.scala:18)
		at org.apache.spark.sql.classic.Dataset.$anonfun$withNewRDDExecutionId$1(Dataset.scala:2252)
		at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId0$8(SQLExecution.scala:177)
		at org.apache.spark.sql.execution.SQLExecution$.withSessionTagsApplied(SQLExecution.scala:285)
		at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId0$7(SQLExecution.scala:139)
		at org.apache.spark.JobArtifactSet$.withActiveJobArtifactState(JobArtifactSet.scala:94)
		at org.apache.spark.sql.artifact.ArtifactManager.$anonfun$withResources$1(ArtifactManager.scala:112)
		at org.apache.spark.sql.artifact.ArtifactManager.withClassLoaderIfNeeded(ArtifactManager.scala:106)
		at org.apache.spark.sql.artifact.ArtifactManager.withResources(ArtifactManager.scala:111)
		at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId0$6(SQLExecution.scala:139)
		at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:308)
		at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId0$1(SQLExecution.scala:138)
		at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:804)
		at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId0(SQLExecution.scala:92)
		at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:250)
		at org.apache.spark.sql.classic.Dataset.withNewRDDExecutionId(Dataset.scala:2250)
		at org.apache.spark.sql.classic.Dataset.foreachPartition(Dataset.scala:1496)
		at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.saveTable(JdbcUtils.scala:1017)
		at org.apache.spark.sql.execution.datasources.jdbc.JdbcRelationProvider.createRelation(JdbcRelationProvider.scala:80)
		at org.apache.spark.sql.execution.datasources.SaveIntoDataSourceCommand.run(SaveIntoDataSourceCommand.scala:55)
		at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult$lzycompute(commands.scala:79)
		at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult(commands.scala:77)
		at org.apache.spark.sql.execution.command.ExecutedCommandExec.executeCollect(commands.scala:88)
		at org.apache.spark.sql.execution.QueryExecution.$anonfun$eagerlyExecuteCommands$2(QueryExecution.scala:185)
		at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId0$8(SQLExecution.scala:177)
		at org.apache.spark.sql.execution.SQLExecution$.withSessionTagsApplied(SQLExecution.scala:285)
		at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId0$7(SQLExecution.scala:139)
		at org.apache.spark.JobArtifactSet$.withActiveJobArtifactState(JobArtifactSet.scala:94)
		at org.apache.spark.sql.artifact.ArtifactManager.$anonfun$withResources$1(ArtifactManager.scala:112)
		at org.apache.spark.sql.artifact.ArtifactManager.withClassLoaderIfNeeded(ArtifactManager.scala:106)
		at org.apache.spark.sql.artifact.ArtifactManager.withResources(ArtifactManager.scala:111)
		at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId0$6(SQLExecution.scala:139)
		at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:308)
		at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId0$1(SQLExecution.scala:138)
		at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:804)
		at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId0(SQLExecution.scala:92)
		at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:250)
		at org.apache.spark.sql.execution.QueryExecution.$anonfun$eagerlyExecuteCommands$1(QueryExecution.scala:185)
		at org.apache.spark.sql.execution.QueryExecution$.withInternalError(QueryExecution.scala:717)
		at org.apache.spark.sql.execution.QueryExecution.org$apache$spark$sql$execution$QueryExecution$$eagerlyExecute$1(QueryExecution.scala:184)
		at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$3.applyOrElse(QueryExecution.scala:201)
		at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$3.applyOrElse(QueryExecution.scala:194)
		at org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$transformDownWithPruning$1(TreeNode.scala:491)
		at org.apache.spark.sql.catalyst.trees.CurrentOrigin$.withOrigin(origin.scala:107)
		at org.apache.spark.sql.catalyst.trees.TreeNode.transformDownWithPruning(TreeNode.scala:491)
		at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.org$apache$spark$sql$catalyst$plans$logical$AnalysisHelper$$super$transformDownWithPruning(LogicalPlan.scala:37)
		at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning(AnalysisHelper.scala:360)
		at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning$(AnalysisHelper.scala:356)
		at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:37)
		at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:37)
		at org.apache.spark.sql.catalyst.trees.TreeNode.transformDown(TreeNode.scala:467)
		at org.apache.spark.sql.execution.QueryExecution.eagerlyExecuteCommands(QueryExecution.scala:194)
		at org.apache.spark.sql.execution.QueryExecution.$anonfun$lazyCommandExecuted$1(QueryExecution.scala:155)
		at scala.util.Try$.apply(Try.scala:217)
		at org.apache.spark.util.Utils$.doTryWithCallerStacktrace(Utils.scala:1392)
		at org.apache.spark.util.LazyTry.tryT$lzycompute(LazyTry.scala:46)
		at org.apache.spark.util.LazyTry.tryT(LazyTry.scala:46)
		... 17 more